{% extends 'base.html' %}

{% block title %}Car{% endblock %}

{% block content %}
<div class="card mt-5">
    <div class="card-body">
        <form method="post">
            {{ form.hidden_tag() }}
            <h2>Car Details</h2>
            <div class="form-group row">
                <label for="year" class="col-sm-3 col-form-label">Vehicle Year:</label>
                <div class="col-sm-9">  
                    {{ form.year(class="form-control", placeholder="Please select Year") }}
                </div>
            </div>
            <div class="form-group row">
                <label for="make" class="col-sm-3 col-form-label">Make:</label>
                <div class="col-sm-9">
                    {{ form.make(class="form-control", placeholder="Enter make (e.g., BMW)") }}
                </div>
            </div>
            <div class="form-group row">
                <label for="model" class="col-sm-3 col-form-label">Model:</label>
                <div class="col-sm-9">
                    {{ form.model(class="form-control", placeholder="Enter model (e.g., 3 Series)") }}
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-3 col-form-label">Description:</label>
                <div class="col-sm-9">
                    {{ form.description(class="form-control", placeholder="Enter description (e.g., 320i Sedan)") }}
                </div>
            </div>
            <div class="form-group row">
                <label for="coverage" class="col-sm-3 col-form-label">What type of cover do you require?</label>
                <div class="col-sm-9">
                    {{ form.coverage(class="form-control", placeholder="Please select Cover Type") }}
                </div>
            </div>
            <h2>Parking Details</h2>
            <div class="form-group row">
                <label for="parking_location" class="col-sm-3 col-form-label">Where is your car parked overnight?</label>
                <div class="col-sm-9">
                    {{ form.parking_location(class="form-control", placeholder="Please select Parking Location") }}
                </div>
            </div>
            <div class="form-group row mt-4">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Add This Car</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
