{% extends 'base.html' %}

{% block title %}Claims - Insurance Policy Management System{% endblock %}

{% block style %}
<style>
    .car-year {
      font-size: 16px;
      color: gray;
      font-weight: bold;
    }
    .car-model {
      font-size: 24px;
      color: #007bff;
    }
    .car-make {
      font-size: 16px;
      color: #6c757d;
    }
    .card-img-left {
        width: 150px;
        height: auto;
        object-fit: cover;
        margin-right: 30px; 
    }
    .car-info {
        font-weight: bold;
    }

    .car-icons {
    color: gray;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    } 

    .car-icons i:not(:last-child) {
        margin-right: 10px; 
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for vehicle in vehicles %}
    <div class="col">
      <div class="card position-relative">
        <div class="card-body d-flex align-items-center">
          <img src="{{ url_for('static', filename='car.jpg') }}" class="card-img-left" alt="Car Image">
          <div class="ms-auto">
            <h5 class="card-title car-year">{{ vehicle.year }}</h5>
            <h5 class="card-title car-model">{{ vehicle.make }} {{ vehicle.model }}</h5>
            <p><span class="car-info">Parked in:</span> {{ vehicle.parking_location }} <br> <span class="car-info">Cover type:</span> {{ vehicle.coverage }}</p>
            <div class="car-icons"> 
              <a href="{{ url_for('cars_bp.edit_car', car_id=vehicle.id) }}" class="btn btn-link">
                <i class="fas fa-edit me-2"></i>
              </a>
              <form action="{{ url_for('cars_bp.delete_car', car_id=vehicle.id) }}" method="post">
                <button type="submit" class="btn btn-link">
                    <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <a href="{{ url_for('cars_bp.add_car') }}" class="text-primary">
        <i class="fas fa-plus-circle"></i> Add another car
      </a>
    </div>
  </div>
  <br>
  <div class="row mt-3">
    <div class="col-md-6 text-end">
        <a href="{{ url_for('cars_bp.add_driver') }}" class="btn btn-secondary">
            Driver Information <i class="fas fa-chevron-circle-right"></i>
        </a>
    </div>
  </div>
</div>
{% endblock %}
