{% extends 'base.html' %}
{% block title %}Vehicle Insurance{% endblock %}

{% block style %}
<style>
/* Add your custom CSS styles here */

/* Container styles */
.container {
    padding: 20px; /* Add padding to the container */
}

/* Jumbotron styles */
.jumbotron {
    text-align: center;
    background-color: #007bff; /* Change background color */
    color: #fff; /* Change text color */
    border-radius: 10px; /* Add border radius */
    padding: 40px; /* Add padding */
    margin-bottom: 30px; /* Add margin bottom */
}

/* Table styles */
.table {
    background-color: #f8f9fa; /* Change background color */
    border-radius: 10px; /* Add border radius */
    padding: 20px; /* Add padding */
    margin-bottom: 30px; /* Add margin bottom */
}

/* Testimonial item styles */
.testimonial-item {
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px; /* Add margin bottom */
}

.testimonial-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Carousel container styles */
.carousel-container {
    background-color: #007bff; /* Change background color */
    padding: 30px;
    border-radius: 10px; /* Add border radius */
}

/* Carousel control styles */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    background-color: rgba(0, 0, 0, 0.5); /* Change background color */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Change hover background color */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .card {
        width: 100%; /* Adjust card width for smaller screens */
    }
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to InsureWheels</h1>
        <p class="lead">At InsureWheels, we understand the importance of protecting your vehicle and your peace of mind. That's why we offer a range of comprehensive insurance solutions tailored to your needs. Whether you're looking for coverage against accidents, theft, fire, or third-party liabilities, we've got you covered.</p>
        <a class="btn btn-primary btn-lg" href="{{url_for('users_bp.register_page')}}" role="button">Get a Quote Now</a>
    </div>

    <h2 class="text-center my-4">Types of Vehicle Insurance</h2>    
    <table class="table">
        <tbody>
            <tr>
                <th>Insurance Type</th>
                <th>Coverage</th>
            </tr>
            <tr>
                <td>Comprehensive</td>
                <td>Accidents, theft and hijacking, vandalism, fire and explosions, damage to someone else's property, weather damage.</td>
            </tr>
            <tr>
                <td>Third Party, Fire & Theft</td>
                <td>Theft and hijacking, fire and explosions, damage to someone else's property.</td>
            </tr>
            <tr>
                <td>Third Party</td>
                <td>Damage to someone else's property.</td>
            </tr>
        </tbody>
    </table>

     <!-- Testimonials Section -->
     <h2 class="text-center my-4">Testimonials</h2>
     <!-- Carousel Container with Maximum Width -->
     <div class="carousel-container">
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
             <div class="carousel-inner">
                 <div class="carousel-item active">
                     <div class="row">
                         <div class="col-sm-4">
                             <div class="testimonial-item">
                                 <img src="https://th.bing.com/th/id/OIP.gXdmZ3lytivjamUpjm2r5QHaLH?rs=1&pid=ImgDetMain" alt="Testimonial 1">
                                 <p>"I saved a lot of money on my car insurance by switching to their comprehensive coverage. Highly recommended!"</p>
                                 <p>- John Doe</p>
                             </div>
                         </div>
                         <div class="col-sm-4">
                             <div class="testimonial-item">
                                 <img src="https://th.bing.com/th/id/OIP.QcCXGD5C2rWXLkmUVb7HnwHaLH?rs=1&pid=ImgDetMain" alt="Testimonial 2">
                                 <p>"Their third-party, fire & theft insurance plan provided me peace of mind without breaking the bank. Great service!"</p>
                                 <p>- Jane Smith</p>
                             </div>
                         </div>
                         <div class="col-sm-4">
                             <div class="testimonial-item">
                                 <img src="https://th.bing.com/th/id/R.d29ba4d6ed18947a74bd0c0a09830849?rik=dVbZS58HntpY3Q&pid=ImgRaw&r=0" alt="Testimonial 3">
                                 <p>"Excellent customer service! Third-party car insurance saved me from a financial disaster. Thank you!"</p>
                                 <p>- Michael Johnson</p>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="carousel-item">
                     <div class="row">
                         <div class="col-sm-4">
                             <div class="testimonial-item">
                                 <img src="https://th.bing.com/th/id/OIP.B2lWR0NfcQEl2KB1VD-AQAHaJH?rs=1&pid=ImgDetMain" alt="Testimonial 4">
                                 <p>"The comprehensive coverage was worth every penny. It's reassuring to know my vehicle is protected from all sorts of risks."</p>
                                 <p>- Emily Wilson</p>
                             </div>
                         </div>
                         <div class="col-sm-4">
                             <div class="testimonial-item">
                                 <img src="https://th.bing.com/th/id/R.023672cb1185dfadd27cf002d80994fd?rik=cQkebfF7CTbOUA&pid=ImgRaw&r=0" alt="Testimonial 5">
                                 <p>"I've been with them for years, and their third-party car insurance has always been reliable and affordable."</p>
                                 <p>- Robert Anderson</p>
                             </div>
                         </div>
                         <div class="col-sm-4">
                             <div class="testimonial-item">
                                 <img src="https://th.bing.com/th/id/OIP.AIreG9FfdaeHsvZFsju1DAHaLH?rs=1&pid=ImgDetMain" alt="Testimonial 6">
                                 <p>"The third-party, fire & theft insurance is a great middle ground. It gives me peace of mind without breaking the bank."</p>
                                 <p>- Sarah Thompson</p>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- Add more carousel-items as needed -->
             </div>
             <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
             </a>
             <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
             </a>
         </div>
     </div>
</div>
{% endblock %}
