{% extends 'base.html' %}

{% block title %}Product Details - Insurance Policy Management System{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="mt-5">Health Insurance</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquam quam nec justo dictum, nec ultricies lorem commodo.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus neque, eu egestas ex mattis sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus neque, eu egestas ex mattis sit amet. Aliquam in pulvinar dolor. Integer lacinia turpis quis ex placerat, at faucibus velit cursus. Cras ultricies magna at metus congue dapibus.</p>
            <button class="btn btn-primary mr-3">Get a Quick Quote</button>
            <button class="btn btn-secondary">Call Me Back</button>
        </div>
        <div class="col-md-4">
            <img src="https://via.placeholder.com/300" alt="Product Image" class="img-fluid">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-8">
            <h3>Coverage Details</h3>
            <ul>
                <li>Medical expenses coverage up to $1,000,000</li>
                <li>Hospitalization coverage</li>
                <li>Emergency medical services coverage</li>
                <li>Prescription medication coverage</li>
                <!-- Add more coverage details as needed -->
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Additional Information</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus neque, eu egestas ex mattis sit amet. Aliquam in pulvinar dolor.</p>
        </div>
    </div>
</div>
{% endblock %}
