{% extends 'base.html' %}

{% block title %}Policies - Insurance Policy Management System{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-5">Policies</h2>
    <div class="row mt-4">
        <!-- Policy Cards -->
        {% for p in policy %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; text-align: center;">{{ p.name }}</h5><br>
                    <img src="{{ p.image_link }}" class="card-text" alt="policy img" style="width: 300px; aspect-ratio: 1/0.75; object-fit: cover;"><br><br>
                    <p class="card-text" style="font-size: 14px; color: hsl(0, 0%, 50%); justify-content: center;">{{ p.summary }}</p>
                    <a href="{{ url_for('policy_bp.product_details') }}" class="btn btn-primary">View Details</a> 
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

